<!-- Home page for an authenticated user with a list of pois and a form to add a poi-->
{{> mainmenu _id="home"}}

<section class="ui raised segment">
    <div class="ui very padded grid">
        <h2>Welcome {{{user.firstName}}} You have been AUTHENTICATED</h2>
    </div>

</section>