<!-- Index page -->
{{> welcomemenu}}

<div class="ui two column middle aligned grid basic segment">
    <section class="column center aligned">
        <h1 class="ui header">
            Apex Gym Classes
        </h1>
        <p>
            Welcome to Apex Gym<br>
            This is a website for clients  <br>
            to view and book classes at the gym<br>
            We look forward to seeing you soon
        </p>
    </section>
    {{!-- greenway image--}}
    <div class="column">
        <img src="../images/gym.jpg" alt="apex gym" class="ui large image">
    </div>
</div>